---
layout: base.njk
title: About Me
---

<!-- Tulis isi kandungan lajur kanan abang sahaja. Eleventy akan uruskan selebihnya -->
<div class="box">
    <h2>🌷 Karakter Profil</h2>
    <p class="tagline" style="color: #00ffcc; margin-bottom: 15px;">"Rider Jiwa Jalanan / Mid-Tier Koding Apprentice"</p>
    <ul class="inventory-list">
        <li><strong>Name:</strong> BraderDin</li>
        <li><strong>Class:</strong> Long-Distance Tourer</li>
    </ul>
</div>

<div class="box">
    <h3>📜 Backstory</h3>
    <p>Membesar dengan deruman bunyi enjin jentera dua roda...</p>
</div>