---
layout: base.njk
title: Bookmarks
---

<div class="box">
    <h2>🔖 Simpanan Khazanah Web</h2>
    
    <div style="margin-top: 20px; padding: 5px; border-left: 3px solid #ff007f;">
        <p style="line-height: 1.6; font-size: 0.95rem;">
            Senarai pautan luar, artikel kembara, peta laluan menarik, atau tutorial kod yang saya rasa berguna untuk dibaca semula pada masa akan datang.
        </p>
    </div>
</div>