---
layout: base.njk
title: Curios
---

<div class="box">
    <h2>🪐 Koleksi Seni & Kamera 360°</h2>
    
    <div style="margin-top: 20px; padding: 5px; border-left: 3px solid #ff007f;">
        <p style="line-height: 1.6; font-size: 0.95rem;">
            Sudut pameran untuk hasil tangkapan lensa digital kreatif, sudut pandang 360 darjah semasa tunggangan, dan lore watak anime kegemaran.
        </p>
    </div>
</div>