---
layout: base.njk
title: Guestbook
---

<div class="box">
    <h2>👋 Buku Pelawat Garaj</h2>
    
    <div style="margin-top: 20px; padding: 5px; border-left: 3px solid #ff007f;">
        <p style="line-height: 1.6; font-size: 0.95rem;">
            Sila tinggalkan jejak anda sebelum keluar! Tulis nama, jenis jentera anda, atau ucapan salam. Brotherhood Forever! 🏁
        </p>
    </div>
</div>