<div class="box">
  <h3>🗺️ Cuaca Port Ride</h3>
  <p>
    🏁 Genting: <!-- GENTING_WEATHER -->Cerah ☀️<!-- GENTING_WEATHER_END --><br>
    🏁 Fraser: <!-- FRASER_WEATHER -->Berkabus 🌫️<!-- FRASER_WEATHER_END --><br>
    🏁 Betong: <!-- BETONG_WEATHER -->Hujan 🌧️<!-- BETONG_WEATHER_END -->
  </p>
</div>