<div class="box">
    <h3>🗺️ Menu Utama</h3>
    <a href="/" class="social-link" id="nav-index" style="display: block; padding: 8px; margin-bottom: 5px; text-decoration: none; text-align: center; font-weight: bold; border: 1px solid #777; color: white; background-color: #333;">🏠 Home</a>
    <a href="/about/" class="social-link" id="nav-about" style="display: block; padding: 8px; margin-bottom: 5px; text-decoration: none; text-align: center; font-weight: bold; border: 1px solid #777; color: white; background-color: #333;">🌷 About</a>
    <a href="/blog/" class="social-link" id="nav-blog" style="display: block; padding: 8px; margin-bottom: 5px; text-decoration: none; text-align: center; font-weight: bold; border: 1px solid #777; color: white; background-color: #333;">📝 Blog</a>
    <a href="/links/" class="social-link" id="nav-links" style="display: block; padding: 8px; margin-bottom: 5px; text-decoration: none; text-align: center; font-weight: bold; border: 1px solid #777; color: white; background-color: #333;">🔗 Links</a>
    <a href="/bookmarks/" class="social-link" id="nav-bookmarks" style="display: block; padding: 8px; margin-bottom: 5px; text-decoration: none; text-align: center; font-weight: bold; border: 1px solid #777; color: white; background-color: #333;">🔖 Bookmarks</a>
    <a href="/experiments/" class="social-link" id="nav-experiments" style="display: block; padding: 8px; margin-bottom: 5px; text-decoration: none; text-align: center; font-weight: bold; border: 1px solid #777; color: white; background-color: #333;">🧪 Experiments</a>
    <a href="/curios/" class="social-link" id="nav-curios" style="display: block; padding: 8px; margin-bottom: 5px; text-decoration: none; text-align: center; font-weight: bold; border: 1px solid #777; color: white; background-color: #333;">🪐 Curios</a>
    <a href="/guestbook/" class="social-link" id="nav-guestbook" style="display: block; padding: 8px; margin-bottom: 5px; text-decoration: none; text-align: center; font-weight: bold; border: 1px solid #777; color: white; background-color: #333;">👋 Guestbook</a>
</div>