<div class="box">
    <h3>🗺️ Menu Utama</h3>
    <a href="/index.html" class="social-link">🏠 Home</a>
    <a href="/about.html" class="social-link">🌷 About</a>
    <a href="/blog.html" class="social-link">📝 Blog</a>
    <a href="/links.html" class="social-link">🔗 Links</a>
    <a href="/bookmarks.html" class="social-link">🔖 Bookmarks</a>
    <a href="/experiments.html" class="social-link">🧪 Experiments</a>
    <a href="/curios.html" class="social-link">🪐 Curios</a>
    <a href="/guestbook.html" class="social-link">👋 Guestbook</a>
</div>